.students-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 370px);
    gap: 10px;
    margin: 100px;
}

@media  (max-width: 1200px) {
    .students-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media  (max-width: 768px) {
    .students-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }
    
}

@media  (max-width: 600px) {
    .students-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

